################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GrpcGreeterClient/bin/Debug/netcoreapp3.1
/GrpcGreeterClient/obj/Debug/net5.0
/GrpcGreeterClient/bin/Debug/net5.0
/GrpcGreeterClient/obj
